		.fr{
    		display:none !important;
  		}
  		.en{
  			display:block !important;
  		}
 		#english {
 			margin-top:-350px !important;
 			transition : all 0.5s ease !important;
 		}
		#french{
			margin-top:0px;
			cursor :pointer;
			transition : all 0.5s ease !important;
			cursor:pointer;
		}
